.roomchatmessage {
  /* width: 100%; */
  /* display: inline-flex; */
  /* flex-direction: column; */

  padding: 0px 8px;
}

.rooomchatmessage__info {
  margin-left: 14px;
  margin-bottom: 3px;

  font-size: 10px;
  font-weight: 500;
  color: #939393;
}

.roomchatmessage__bubble {
  max-width: 100%;
  display: inline-block;
  padding: 14px;

  font-size: 13px;
  font-weight: 400;
  color: #939393;

  border-radius: 15px;
  background-color: #f3f3f3;
}

.roomchatmessage__message {
  max-width: 100%;
  overflow-wrap: break-word;
}
