.roomlivemenu {
  position: relative;
  height: 100%;
  width: 100%;
  /* max-width: 400px; */
  background-color: white;
}

.roomlivemenu__switchcontainer {
  height: 60px;
  width: 100%;
  padding: 12px;
  display: flex;
  align-items: center;

  border-bottom: 1.5px solid #e9e9e9;
}

.roomlivemenu__switch {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  border-radius: 5px;

  font-size: 14px;
  font-weight: 600;
  color: #a0a4aa;
}

.switch-selected {
  font-size: 14px;
  font-weight: 700;
  color: #34383b;

  background-color: #eeeeee;
}

.roomlivemenu__summary {
  position: relative;
  height: calc(100% - 60px);
  width: 100%;

  padding: 10px 10px 10px 10px;

  overflow-y: scroll;
}

.roomlivemenu__chat {
  height: calc(100% - 60px);
  width: 100%;
  /* display: flex;
  flex-direction: column; */

  padding: 10px 10px 10px 10px;

  overflow-y: scroll;
}

/*
.roomlivemenu__chat::-webkit-scrollbar-track
{
  @apply shadow-inner bg-gray-200
}

.roomlivemenu__chat::-webkit-scrollbar
{
  @apply w-2 bg-gray-200;
}

.roomlivemenu__chat::-webkit-scrollbar-thumb
{
  @apply bg-black border-2 border-gray-700;
} */

